* {
    margin: 0px;
    padding: 0px;
}

.common-btn {

    background-color: #1D4ED8;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.nav-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    margin: 10px auto;
}

.navlinks-container ul {
    display: flex;
    gap: 10px;
    list-style: none;


}

.navlinks-container ul li {
    color: #575757;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer
    

}

.nav-register-btn {
    width: 188px;
    height: 48px;
}

.banner-img {
    width: 100%;
    position: absolute;
    height: 1000px;
}

.banner-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid #1D4ED8;
    text-align: center;
    height: 1000px;
}

.banner-title {
    color: white;
    font-size: 80px;
}

.banner-discription {
    font-size: 22px;
    color: white;
}
.banner-regeister-btn {
    width: 282px;
    height: 74px;
    margin-top: 50%;
}